/* General styles for all menus */
 
.cbp-spmenu {
  background: #424242;
  position: fixed;
}

.cbp-spmenu-vertical {
  -webkit-overflow-scrolling: touch; /* this makes the div (or nav) element scrollable for iOS5+ */
  overflow-y: scroll;
}
 
.cbp-spmenu h4 {
  font-family: 'league_gothicregular';
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
  padding: 20px;
  margin: 0;
  background: #292929;
  color: white;
}

.cbp-spmenu h4 a {
  display: inline;
  border-bottom: none;
  padding: 5px;
  float: right;
  margin-top: -4px;
}
 
.cbp-spmenu a {
  display: block;
  color: #6096AB;
}
 
.cbp-spmenu a:hover,
.cbp-spmenu a:active {
  background: #292929;
  color: white;
  text-decoration: none;
}
 
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
 
.cbp-spmenu-vertical a {
    border-bottom: 1px solid white;
    padding: 10px;
}
 
.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
 
.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}
 
.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #900;
}
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
    left: -240px;
}
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
 
/* Push classes applied to the body */
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}
 
/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 
/* Example media queries */
 
@media screen and (max-width: 55.1875em){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}
 
@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}
