a {
  color: #900;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  color: black;
}

h1, h2, h5 {
  font-weight: bold;
}

section {
  margin-bottom: 40px;
}

section h2 {
  border-top: 4px solid black;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 4px;
}

.panel-body ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.featured-work article {
  margin-bottom: 20px;
}

.gray {
  color: #777777;
}

.newsletter button,
.newsletter button:hover,
.panel-default>.panel-heading {
  background-color: #900;
  color: white;
}

.panel-default>.panel-heading a:hover {
  text-decoration: none;
}

.meta {
  font-weight: bold;
  color: #777777;
}

article img {
  margin-bottom: 3px;
}