a {
  color: #900;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  color: black;
}

h5 {
  font-weight: bold;
}

section {
  margin-bottom: 2em;
}

section h2 {
  border-top: 4px solid black;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 4px;
}

.subnav {
  margin-bottom: 1em;
}

.panel-body ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.featured-work article {
}

.gray {
  color: #777777;
}