/* Custom styles */

@font-face {
  font-family: 'league_gothicregular';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
       url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
       url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Links */

a {
  color: #900;
}

/* Headings */

h1, h2, h3, h4, h5 {
  margin-top: 0;
  color: black;
  font-weight: bold;
}

h1, h2 {
  font-family: 'league_gothicregular', 'Helvetica Neue', Helvetica, sans;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

/* Nav */

nav {
  font-size: 16px;
}

.navbar-nav .open .dropdown-menu>li>a {
  padding: 10px 15px 10px 25px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: white;
  background-color: #900;
}

/* Subnav */

.panel-title a,
.panel-body li a {
  display: block;
}

.panel-default>.panel-heading a:hover,
.panel-default>.panel-heading a:focus {
  text-decoration: none;
}

.panel-body ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.panel-body li {
  font-size: 18px;
  margin-bottom: 6px;
}

/* Page sections */

section {
  margin-bottom: 40px;
}

section h2 {
  border-top: 4px solid black;
  text-transform: uppercase;
  font-size: 28px;
  padding-top: 4px;
}

.featured-work article {
  margin-bottom: 20px;
}

/* Articles */

.meta {
  font-weight: bold;
  color: #777777;
}

article img {
  margin-bottom: 3px;
}

article.hero h3 {
  font-size: 18px;
}

article h3 {
  font-size: 16px;
}

/* White text on red background style */

.newsletter button,
.newsletter button:hover,
.panel-default > .panel-heading {
  background-color: #900;
  color: white;
}

/* Misc */

.gray {
  color: #777777;
}
